h1{
	font-weight: bold;
	font-size: 24px;
	text-align: center;
}

.box{
	background-color: gray;
	padding: 10px 10px 10px 10px;
	border: 1px solid black;
	width: 300px; 
	/* This declaration allows us to size the width of our
	boxes beginning from the outside edge of the border. If 
	this declaration wasn't used, the box would be measured
	in terms of the width of the content */
	box-sizing: border-box;
	/* With this declaration, we're making the block element 
	to float to the left of its container */
	float: left;
	margin-right: 10px;
}

